* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: min(2rem, 7%);
    background-color: hsl(200, 100%, 5%);
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    color: hsl(195, 53%, 79%);
    margin-bottom: 1rem;
}

.input-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    background-color: hsla(195, 53%, 79%, 0.15);
    border-radius: 20px;
}

.input-wrapper input[type="number"] {
    flex-shrink: 0;
    min-width: 0;
    font-size: 17px;
    color: hsl(195, 53%, 79%);
    border: 1.5px solid transparent;
    border-radius: 20px 0 0 20px;
    outline: none;
    background: none;
    padding: .5rem 1rem;
}

.input-wrapper input[type="number"]::placeholder {
    color: hsl(195, 53%, 79%);
}

.input-wrapper input[type="number"]:focus {
    border: 1.5px solid hsl(195, 53%, 79%);
}

.input-wrapper button {
    font-size: 17px;
    font-weight: 600;
    border: none;
    outline: none;
    color: hsl(200, 100%, 5%);
    background-color: hsl(195, 53%, 79%);
    padding: 0 1rem;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 300ms ease;
}

.input-wrapper button:hover {
    background-color: hsl(195, 53%, 70%);
}

.wrapper {
    margin-top: 2rem;
}

.wrapper label {
    font-size: 17px;
    font-weight: 700;
    color: hsl(195, 53%, 79%);
    margin-left: 1rem;
    line-height: 2rem;
    cursor: pointer;
}

.wrapper .unit-item {
    cursor: pointer;
    padding: .5rem 1rem;
    border: 1.5px solid hsla(195, 53%, 79%, 0.15);
    border-radius: 20px;
    transition: background-color 300ms, border 300ms ease;
    margin-bottom: .5rem;
}

.wrapper .unit-item:hover {
    background-color: hsla(195, 53%, 79%, 0.15);
    border: 1.5px solid transparent;
}

.result-display {
    font-size: 2rem;
    font-weight: 800;
    color: hsl(195, 53%, 79%);
    margin-top: 1rem;
}