:root{
    --bg-color: hsl(190, 100%, 10%);
    --text-color: hsl(0, 0%, 100%);
}

.container{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: min(2rem, 7%);
}

.app-title{
    font-size: clamp(1.75rem, -3.875rem + 24vw, 2.5rem);
    font-weight: 900;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.todo-form{
    display: flex;
    justify-content: space-between;   
    background-color: hsla(195, 53%, 79%, 0.1);
    width: min(400px, 100%);
    border-radius: 50px;
    margin-bottom: 1.5rem;
}

.todo-form input{
    flex-grow: 1;
    min-width: 0;
    font-size: clamp(0.9375rem, 0.2344rem + 3vw, 1.03125rem);
    background: transparent;
    color: var(--text-color);
    outline: none;
    border: 1.5px solid transparent;
    border-radius: 50px 0 0 50px;
    padding: .4rem 1rem;
}

.todo-form input::placeholder{
    color: var(--text-color);
}

.todo-form input:focus{
    border: 1.5px solid var(--text-color);
    border-right: none;
}

.todo-form button{
    font-size: clamp(0.9375rem, 0.2344rem + 3vw, 1.03125rem);
    font-weight: 600;
    color: var(--bg-color);
    background-color: var(--text-color);
    border: none;
    padding: 0 1rem;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    transition: background-color .3s ease;
}

.todo-form button:hover{
    background-color: hsl(0, 10%, 80%);
}

.todo-form button:active{
    background-color: hsl(0, 10%, 90%);
}

.error-container {
    background-color: var(--text-color);
    padding: .5rem 1rem;
    border-radius: 50px;
    margin-bottom: .75rem;
}

.error-container .error-message{
    font-size: clamp(0.9375rem, 0.2344rem + 3vw, 1.03125rem);
    font-weight: 600;
    color: var(--bg-color);
}

.list-container{
    background-color: var(--text-color);
    border-radius: 20px;
    list-style: none;
    width: min(500px, 100%);
    max-height: 100%;
    padding: 1rem 1.5rem;
}

.list-container li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid hsla(189, 100%, 10%, 0.25);
    padding: .5rem 0;
}

.list-container li:first-child{
    padding-top: 0;
}

.list-container li:last-child{
    border-bottom: transparent;
}

.list-container li span{
    flex-grow: 1;
    font-size: clamp(0.9375rem, 0.2344rem + 3vw, 1.03125rem);
    color: var(--bg-color);
    font-weight: 600;
}

.controls{
    display: flex;
    gap: .5rem;
}

.controls button{
    font-size: 1rem;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.controls button:disabled{
    cursor: not-allowed;
}

.controls .delete-button{
    color: white;
    background-color: hsl(0, 90%, 50%);
}

.controls .delete-button:hover{
    background-color: hsl(0, 90%, 55%);
}