#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: hsl(240, 100%, 5%);
    height: 70px;
}

#navbar .brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    margin-right: auto;
    padding: 0 1.5rem;
}

#navbar .link-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#navbar a {
    display: flex;
    align-items: center;
    font-size: 1.05rem;
    color: white;
    height: 100%;
    padding: 0 1.5rem;
    transition: background-color 0.3s ease;
}

#navbar a:hover {
    background-color: hsla(216, 100%, 80%, 0.1);
}

.open-btn,
.close-btn {
    display: none;
    padding: 1rem;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: auto;
}

.open-btn {
    fill: hsl(240, 100%, 5%);
}

.close-btn {
    fill: white;
}

button svg {
    width: 32px;
    height: 32px;
}

@media screen and (max-width: 540px) {
    .open-btn, .close-btn {
        display: block;
    }

    #navbar {
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 10;
        width: min(250px, 100%);
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        transition: right .3s ease;
    }

    #navbar.show {
        right: 0;
    }

    #navbar .link-container {
        flex-direction: column;
    }

    #navbar .brand, 
    #navbar a {
        padding: 1rem 2rem;
    }
}