:root{
    --bg-color: #e1effd;
    --primary-color: #1f3a7e;
    --secondary-color: #5a78a2;
    --accent-color: #56ccf2;
    --error-color: #d14242;
    --text-color: #334257;
    --card-bg:#ffffff;
    --input-bg: #b6d0f2;
}