@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;500;600;800&display=swap');

:root {
  /* Colors */
  --dark-clr: hsl(195, 100%, 5%);
  --blue-clr: hsl(195, 100%, 70%);
  --transp-clr: hsla(195, 100%, 50%, 0.1);
  --blue-hover: hsl(195, 95%, 48%);
  --yellow-clr: hsl(60, 100%, 70%);
  --dark-hover: hsl(195, 100%, 7%);
  --shadow-clr: hsla(195, 100%, 90%, 0.1);
  /* Other Styles */
  --border-radius: 10px;
  --btn-border-radius: 5px;
  --input-border-radius: 50px;
  --padding-small: 0.5rem;
  --padding-medium: 1rem;
  --gap-size: 10px;
  /* Text Size */
  --text-s-size: clamp(0.875rem, 0.742rem + 0.5008vw, 1.0625rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* li {
  list-style: none;
} */

button {
  border: none;
  outline: none;
  cursor: pointer;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--dark-clr);
  padding: min(2rem, 10%);
}

h1 {
  font-size: clamp(2rem, 1.2905rem + 2.6711vw, 3rem);
  font-family: "Permanent Marker", sans-serif;
  color: var(--blue-clr);
  margin-bottom: var(--padding-medium);
  text-shadow: 0 4px 1px var(--shadow-clr);
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  width: min(500px, 100%);
  background-color: var(--transp-clr);
  border-radius: var(--input-border-radius);
  margin-bottom: 2rem;
  box-shadow: 0 3px 1px var(--shadow-clr);
}

.input-wrapper input[type="text"] {
  flex-grow: 1;
  font-size: var(--text-s-size);
  color: var(--blue-clr);
  background: transparent;
  min-width: 0;
  border: 1.5px solid transparent;
  border-radius: var(--input-border-radius) 0 0 var(--input-border-radius);
  outline: none;
  padding: var(--padding-small) var(--padding-medium);
}

.input-wrapper input[type="text"]::placeholder {
  color: var(--blue-clr);
}

.input-wrapper input[type="text"]:focus {
  border: 1.5px solid var(--blue-clr);
}

.input-wrapper .add-btn {
  font-size: var(--text-s-size);
  font-weight: 600;
  color: var(--dark-clr);
  background-color: var(--blue-clr);
  padding-inline: var(--padding-medium);
  border-radius: 0 var(--input-border-radius) var(--input-border-radius) 0;
  transition: background-color .3s ease;
}

.input-wrapper .add-btn:hover {
  background-color: var(--blue-hover);
}

ul {
  width: min(500px, 100%);
}

ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-size);
  flex-wrap: wrap;
  font-weight: 500;
  width: 100%;
  background-color: var(--transp-clr);
  color: var(--blue-clr);
  padding: var(--padding-small) var(--padding-medium);
  margin-bottom: var(--padding-medium);
  border-radius: var(--border-radius);
  box-shadow: 0 3px 1px var(--shadow-clr);
}

ul .text {
  flex: 1;
  font-size: var(--text-s-size);
}

ul .button-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: var(--gap-size);
}

ul .button-container button {
  display: flex;
  align-items: center;
  border-radius: var(--btn-border-radius);
  padding: 0.5rem;
  margin: 0 auto;
}

ul .button-container .delete-btn {
  font-weight: 500;
  fill: var(--dark-clr);
  background-color: var(--blue-clr);
  transition: background-color .3s ease;
}

ul .button-container .delete-btn:hover {
  background-color: var(--blue-hover);
}

ul .button-container .move-btns {
  background-color: var(--dark-clr);
  fill: var(--yellow-clr);
  transition: background-color .3s ease;
}

ul .button-container .move-btns:hover {
  background-color: var(--dark-hover);
}